body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noteBox {
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  /* text-align: center; */
  width: 400px;
  /* padding: 5px; */
  /* align-items: center;
  justify-self: center; */
  margin: 20px;
  margin-left: 690px;
 

}